#navbar {
  background-color: #534438;
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 60px;
  margin-top: 0px;
  box-shadow: 2px 2px 15px 1px #000000bf;
}

.nav-link {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 5px 15px 5px 5px;
}

.nav-link:hover {
  color: #fbe1bb;
}

#header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-right: 18px;
}

#navbar-img {
  max-width: 50px;
  max-height: 30px;
}
