#register-all {
  padding-left: 45px;
}

#register-main {
  border: 1.8px solid #785237;
  border-radius: 4px;
  width: 674px;
  padding: 20px;
  box-shadow: 2px 2px 15px 1px #00000033;
}

.reg-label-parent {
  display: inline-block;
  color: #534438;
  font-weight: 548;
  font-size: 19px;
  margin: 10px;
  width: 150px;
}

.reg-field {
  margin: 10px;
  padding: 5px;
}

#country-input {
  width: 184px;
}

#termsOfService {
  display: inline;
}

#reg-button {
  margin: 10px;
  background-color: #534438;
  color: white;
  border-radius: 4px;
  height: 30px;
  width: max-content;
}

#from-wrapper {
  max-width: 1000px;
}
