#footer {
  background-color: #fbe1bbd5;
  color: #696969c2;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  box-shadow: 2px 4px 10px 1px #000000d9;
}

#footer-p {
  margin-left: 40px;
}
