h3.most-recent {
  margin-left: 0px;
}

#article-row-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.article-row {
  display: inherit;
  justify-content: center;
  margin-bottom: 200px;
}
.article-card {
  padding: 18px;
  border: 1.8px solid #785237;
  border-radius: 4px;
  margin: 10px;
  width: 350px;
  height: 220px;

  box-shadow: 2px 2px 15px 1px #000000e6;
}

.article-card-inner {
  display: flex;
  justify-content: flex-start;
}

h3 .article-card-inner {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.article-link {
  color: #534438;
}

.article-card-p {
  padding: 0px;
}
