.article-row {
  display: inherit;
  justify-content: center;
  margin-bottom: 200px;
}
.article-card {
  padding: 18px;
  border: 1.8px solid #785237;
  border-radius: 4px;
  margin: 10px;
  width: 350px;
  height: 220px;
  box-shadow: 2px 2px 15px 1px #00000073;
}

.article-card-inner {
  display: flex;
  justify-content: flex-start;
}

h3 .article-card-inner {
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #534438;
}

.article-link {
  color: #534438;
}

.article-link:hover {
  color: #caa978;
}

.article-card-p {
  padding: 0px;
  line-height: 1.5;
}

.article-card-link {
  color: #c98a2c;
}

.article-card-link:hover {
  color: #eeb45d;
}
