#about-main {
  padding-top: 25px;
}

#about-tabs-main {
  background-color: #e9be79cb;
  border: 1.8px solid #785237;
  border-radius: 6px;
  box-shadow: 2px 2px 15px 1px #00000073;
  width: 1300px;
}

#about-tabs-list {
  border-bottom: 1px solid #534438;
  margin-top: 1px;
  font-size: 17px;
  font-weight: 548;
}

.tabs-panel {
  display: flex;
  padding: 5px 20px 0px 20px;
}

.tabs-panel-1 {
  display: flex;
  padding: 18px 20px 0px 20px;
}

.tabs-panel-3 {
  display: flex;
  padding: 0px 20px 0px 20px;
}

.tabs-p {
  padding: 0px 20px 0px 20px;
  line-height: 1.5;
}

.tabs-link {
  color: #b15d19;
}

#tabs-img-dune {
  width: 200px;
  height: 200px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 15px;
}

#tabs-img-deni {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 10px;
}

#tabs-img-book {
  padding-top: 5px;
  padding-bottom: 27px;
  padding-left: 10px;
  width: 200px;
  height: 230px;
}

.react-tabs__tab--selected {
  box-shadow: 2px 2px 15px 1px #78523756;
  color: #534438;
  font-weight: bold;
  background-color: #e6b971b2;
}
