#gallery-row-main {
  display: flex;
  align-items: flex-start;
}

#gallery-first-row {
  padding-top: 24px;
}

#gallery-second-row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

#gallery-first-row img {
  box-shadow: 2px 2px 15px 1px #0000007e;
}

#gallery-second-row img {
  width: 200px;
  box-shadow: 2px 2px 15px 1px #0000007e;
}

#gallery-opened {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gallery-button-x {
  position: absolute;
  float: right;
  right: 120px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  top: 60px;
  background-color: black;
  color: white;
  z-index: 20;
}

#single-article-h2 {
  margin-bottom: 10px;
  color: #534438;
}

#single-article-text {
  display: flex;
  flex-direction: column;
  padding: 0px 40px 0px 40px;
}
.single-article-p {
  padding-bottom: 10px;
  line-height: 1.5;
}
